
/*body color*/

body{
    background-color: lightgray;
    /* background-image: url("Resources/assets/images/kiR82B4.gif");
    background-repeat: no-repeat;
    background-size: cover; */


}


/* latitude formating*/
 .navbar-brand {
    color:white!important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    background-color: teal;
    border: 10px;
    padding: 10px;

}

/* collapse color*/
span{
    background-color: teal;
    color: darkgray;
    font-family:'Times New Roman', Times, serif;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
}
/* headlines formating*/
.center {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 35px;
    color: teal;
    font-weight: bolder;
    padding-left: 15px;
    font-family: 'Times New Roman', Times, serif;
}
/*columns formating*/
div.main{
    background-color: white;
   /* margin for out side, padding for inside */
    margin: 20px;
    padding :15px;
}
/* pargraph formating*/
.par-font{
    font-size: 18px;
    color:#417192;
    font-weight: bold;
    line-height: 40pt;
    text-align:justify;
    font-style:unset;
}

h4.font{
    text-align: center;
    color: teal;
    font-family: 'Times New Roman', Times, serif;

}

h5.color{
    margin: 25px;
}
.img-size{
    width: 100%;
    height: Auto;
}
.img-size-vis{
    width:100%;
    height:auto;
    border:"1" black;
    padding:20px;
}
.img-border{
    border: 2px solid teal!important; 


}
.pstyle{
    color:rgb(62, 67, 73);
    margin-bottom: 15px;
    text-align: center;
    margin-top:15px;
    font-weight: bold;
}/* table header formating */

.table-header{text-align: left}






/*Change the color of links on hover*/
.navbar a:hover {
    background-color: teal;
    color:white;
  } 
 
/* Add an active class to highlight the current page */ */
/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
  }

/* nav bar style*/
.navbar-light{
    color:white;
    /* border-color: rgb(172, 97, 26);  */
}

/* nav bar larg screen*/
 .nav-color{
    background-color:whitesmoke;
    margin-left: 0px;
    border: 1px solid; 
}   

/* nav bar color after shrink */
@media screen and (max-width:992px){
    .nav-color{
    background-color:teal;
}
}


@media (min-width:576){
.middle{
display: flex;
margin-left: 176;
margin-right: 133;
}
}
